<div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
          
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active text-center" style="background-color: rgb(85, 172, 167);">
           <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/HeroNov/Dec_Desktop_Seasonal_1x._CB414543468_.jpg">
          </div>
          <div class="carousel-item text-center" style="background-color:rgb(238, 248, 147)">
            <img src="https://m.media-amazon.com/images/G/31/AMS/IN/970X250-_desktop_banner.jpg">
          </div>
          <div class="carousel-item text-center" style="background-color:rgb(207, 191, 98)">
            <img alt="Upgrade your home" src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/BAU/Banners/XCM_Manual_ORIGIN_1233256_1234310_IN_in_upgrade_your_home_gw_bau_herotator_in_en_3189331_1500x600_1X_en_IN._CB409077870_.jpg" height="600px" width="1500px" data-a-hires="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/BAU/Banners/XCM_Manual_ORIGIN_1233256_1234310_IN_in_upgrade_your_home_gw_bau_herotator_in_en_3189331_3000x1200_2X_en_IN._CB409077871_.jpg">
          </div>
          
        </div>
      <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      <br>
     <div class="row">
         <div class="col-md-8 col-sm-12">
         <h3 class="text-primary" id="h3">Building the future</h3>
         <p id="p1">We strive to have a positive impact on customers, employees, small businesses, the economy, and communities. We are smart, passionate builders with different backgrounds and goals, who share a common desire to always be learning and inventing on behalf of our customers.</p>
         </div>
         <div class="col-md-4 col-sm-12">
            <img src="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/9dbd511/2147483647/strip/true/crop/3456x3456+864+0/resize/800x800!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F69%2F56%2Fc1cae5804ea9821fe628eb0124cc%2Fimg-9618.jpg" width="400px" height="300px">
         </div>

     </div>
     <div class="row mt-4">
        <div class="col-md-4 col-sm-12">
           <img src="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/0dfccb4/2147483647/strip/true/crop/2000x2000+908+0/resize/800x800!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fc3%2Fd7%2Fef1f23ab48e1b593de3d3eff9647%2Fd-i.jpg" width="400px" height="320px">
        </div>
        <div class="col-md-8 col-sm-12">
            <h3 class="text-warning" id="h3">Working with us</h3>
            <p id="p1">If you're an inventor, you love to build and be part of high performance teams who are passionate about operational excellence—you’ll love it here. From day one , you'll take ownership of projects that have a direct impact on our customers. </p>
        </div>

    </div>